.landingImg {
  margin-top: 45px;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.landingTitle {
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: #176A87;
}
